.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.feed {
  display: block;
}
.images {
  height: 30vh;
  width: auto;
}

.listitem {
  text-align: justify;
  align-items: center;
}

.input-row {
  display: flex;
  flex-direction: column;
}

.input-row-label {
  align-items: center;
}
.logoutbutton {
  float: left;
}
